// overview section
.container {
  margin: 0 auto !important;
}

.wrapper {
  position: relative;
}

.home-overview-subtitle {
  margin-bottom: 3rem;
  padding: 0 30%;
}

.home-overview-btn-group {
  display: flex;
  justify-content: center;
  margin-bottom: 3rem;
}

.home-overview-btn {
  display: inline-block;
  position: relative;
  color: #fff !important;
  border-radius: 2px;
  border: unset;
  padding: 0.5rem 0;
  width: 180px;
  margin-right: 1rem;
}

.home-overview-btn-bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: inline-block;
  background: #fff;
  opacity: 0.3;
}

.home-overview-btn:hover {
  color: #fff !important;
  opacity: 0.9;
}

.home-overview-btn-with-no-margin {
  margin: unset;
}

.home-overview-link-down {
  position: absolute;
  bottom: 2rem;
  left: 0;
  right: 0;
}

// section title
.home-section-title {
  width: 100%;
  text-align: center;
  margin-bottom: 2rem;
}

.home-section-title-projects {
  margin-bottom: 64px;
}

// home-description
.home-description {
  text-align: left;
  font-weight: 300;
  font-size: 1.25rem;
  line-height: 2rem;
}

// feature-section
.home-feature-item {
  font-weight: 300;
}

// home-project-list
.home-project-item {
  font-weight: 300;
  cursor: pointer;
  margin: 0 8px;
  padding: 16px;
  max-width: calc(25% - 16px);
  box-shadow: 0 0 4px #eee;
  border: 1px solid #f0f0f0;
}

.home-project-item a {
  text-decoration: none;
  color: none;
}

.home-project-item h2 {
  font-weight: 300;
  color: #3c8fa8;
  font-size: 25px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: normal;
}

.home-project-item .fa {
  margin-right: 5px;
  color: #3c8fa8;
}

.home-project-item p {
  font-size: 16px;
  line-height: 1.8em;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  margin-bottom: unset;
  color: #000;
}

.home-project-item:hover {
  transition: 0.4s all;
  background-color: #63b0c7;
  border-radius: 3px;
  color: #fff;
  box-shadow: 0 0 4px #80c6db;
  border: 1px solid #63b0c7;
}

.home-project-item:hover p,
.home-project-item:hover h2 {
  color: #fff;
}

// quote section
.home-quote {
  font-weight: 300;
  margin: 25px 0 25px 0;
  font-family: "Lato", sans-serif;
  color: #fff;
  text-align: center;
}

.home-quote-text {
  width: 60%;
  margin: auto;
  font-size: 22px;
  font-style: italic;
}

.home-quote-author {
  font-size: 16px;
  margin-top: 15px;
  margin-left: 50px;
}

// used-by section
.home-used-by-wrapper {
  padding: 0 15vw !important;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.home-used-by-created {
  width: 100%;
  margin-bottom: 3rem;
}

.home-used-by-item {
  margin: 8px 16px;
  border: 1px solid #fff;
  text-align: center;
  padding: 16px;
}

.home-used-by-item img {
  max-width: 12rem;
  max-height: 4rem;
}

.home-used-by-item:hover {
  border-radius: 3px;
  box-shadow: 0 0 4px #f3f4f5;
  border: 1px solid #e0e2e6;
}

// footer section
.home-footer-links {
  color: #fff;
  flex: 1;
}

.home-footer-links-item {
  max-width: calc(33% - 16px);
  margin: 0 8px;
}

.home-footer-links-item-title {
  color: #fff;
  font-size: 1.5rem;
  padding-bottom: 16px;
  margin-bottom: 16px;
  border-bottom: 2px solid #acacac;
}

.home-footer-links-item ul {
  color: #fff;
  list-style: none;
  margin: unset;
  padding: unset;
}

.home-footer-links-item ul li {
  line-height: 2rem;
}

.home-footer-links-item ul a {
  color: #fff;
}

.home-footer-links-item ul a:hover {
  color: #cfdbe7;
}

@media (min-width: 768px) {
  .home-overview-title {
    margin-top: 8rem !important;
  }

  .td-block-padding,
  .td-default main section {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
  .td-main {
    padding-top: 4rem;
  }
}

.home-landscape {
  background-color: #bae0eb;
  color: #000;

  .home-landscape-wrapper {
    text-align: center;
    width: 100%;
  }

  .home-landscape-desc {
    padding: 12px 0;
  }

  a {
    color: #3c8fa8 !important;
  }
}

@media (max-width: 768px) {
  .td-box .row {
    flex-direction: column !important;
  }
  .home-project-item {
    margin: 8px 0;
    max-width: unset;
  }

  .home-quote-text {
    width: 100%;
  }

  .home-footer-links-item {
    max-width: unset;
  }

  .home-overview-subtitle {
    padding: unset;
  }
}

.center,
.center-column,
.top,
.right,
.bottom,
.left {
  display: flex;
  justify-content: center;
  align-items: center;
}

.homepage-notification {
  min-height: 40px;
  padding: 0 10px;
  background-color: #063359;
  img {
    vertical-align: text-bottom;
  }
  p {
    padding: 0;
    margin: 0;
  }
}

.homepage-notification,
.homepage-notification a {
  color: #fff;
  font-size: 16px !important;
  font-weight: 400;
  line-height: 1.2;
}

.hero-body .container,
.hero-body .wrapper {
  width: 100%;
}

.homepage-top-hero .linky {
  display: none;
  position: absolute;
  bottom: -40px;
  right: 20%;
  z-index: 1;
}

@media screen and (min-width: 769px) {
  .homepage-top-hero {
    background-image: url(/images/homepage-top-hero-pattern.png);
  }

  .homepage-top-hero .notification {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .homepage-top-hero h1 {
    font-size: 60px !important;
  }

  .homepage-top-hero .linky {
    display: block;
    img {
      width: 200px;
    }
  }
}

@media screen and (min-width: 1472px) {
  .homepage-top-hero .notification {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .homepage-top-hero h1 {
    font-size: 80px !important;
  }

  .homepage-top-hero .linky {
    right: 25%;
  }
}

.stats-list {
  background-image: linear-gradient(#e3f2fe, white);
}

.stats-list-item {
  padding: 50px 0;
}

.stats-list-item .is-size-1 {
  font-weight: 700 !important;
}

.has-gradient-text {
  background-image: -webkit-linear-gradient(0deg, #063359, #0185fd);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.companies {
  background-image: linear-gradient(white, #e9fdf5, #e9fdf5, white);
}

.companies .created-by {
  display: flex;
  justify-content: center;
  margin-bottom: 32px;
  text-align: center;
}

.companies .created-by img {
  display: block;
  margin: 0 auto;
  width: 160px;
  height: auto;
}

@media screen and (min-width: 768px) {
  .companies .created-by {
    justify-content: flex-start;
    text-align: left;
    margin-bottom: 0;
    padding-right: 8px;
  }

  .companies .created-by img {
    margin: 0;
  }
}

@keyframes logos-1-keyframes {
  from {
    left: 0%;
  }

  to {
    left: -1000px;
  }
}

@keyframes logos-2-keyframes {
  from {
    left: 1000px;
  }

  to {
    left: 0%;
  }
}

.logos-mask {
  width: 100%;
  position: relative;
  overflow: hidden;
}

.logos-mask .adopters {
  position: relative;
  z-index: 2;
  text-align: center;
}

.logos-mask .logos {
  width: 3600px;
  position: relative;
  height: 80px;
}

.logos-mask .logos-1,
.logos-mask .logos-2 {
  width: 100%;
  position: absolute;
  display: flex;
}

.logos-mask .logos-1 {
  animation: logos-1-keyframes 60s linear infinite;
}

.logos-mask .logos-2 {
  animation: logos-2-keyframes 60s linear infinite;
}

.logos-mask figure {
  padding: 0;
  margin: 0;
}

.logos-mask img {
  width: 150px;
  height: auto;
  margin-left: 50px;
}

@media screen and (min-width: 769px) {
  .logos-mask .adopters {
    text-align: left;
  }

  .logos-mask::before,
  .logos-mask::after {
    content: "";
    position: absolute;
    top: 55px;
    width: 100px;
    height: 75px;
    z-index: 1;
  }

  .logos-mask::before {
    background-image: linear-gradient(90deg, #e9fdf5, rgba(233, 253, 245, 0));
    left: 0;
    z-index: 1;
  }

  .logos-mask::after {
    content: "";
    background-image: linear-gradient(-90deg, #e9fdf5, rgba(233, 253, 245, 0));
    right: 0;
  }
}

@media screen and (min-width: 1088px) {
  .logos-mask::before,
  .logos-mask::after {
    width: 200px;
  }
}
